<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adoptame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/aboutus.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="./resources/img/logoazul.png" />
</head>

<body>
    <%- include('./Header'); %>
        <div id="content" class="cuadrarHeader">
            <h1 class="encabezado">¿Quienes somos?</h1>

            <div class="row cajatexto centrar">
                <div class="col-md-4">
                    <img src="./resources/img/ucm.jpg" class="img-thumbnail ucm" alt="ucm" width="304">
                </div>


                <div class=" col-md-8 ">
                    <p class="quienes ">
						Somos un grupo de Estudiantes de Ingenieria del software de la UCM.
						Hemos desarrollado una aplicación para facilitar la comunicación entre protectoras de animales y potenciales adoptantes para las mascotas.
						Dividimos la applicación en usuarios adoptantes y protectoras.
                    </p>
                </div>
            </div>


            <h1 class="encabezado">Protectoras</h1>

            <div class="row cajatexto centrar">



                <div class=" col-md-9">
                    <p class="quienes ">
						Las protectoras tendran toda su informacion disponible a todo usuario que quiera adoptar, datos como, dirección, teléfono, correo o mascotas disponibles.
						Todo esto esta orientado a facilitar el encuetro entre los adoptantes y las protectoras.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="./resources/img/protectora.jpg" class="img-circle" alt="protectora" width="280">
                </div>
            </div>


            <h1 class="encabezado">Mascotas</h1>

            <div class="row cajatexto centrar abajo">
                <div class="col-md-4">
                    <img src="./resources/img/perro.jpg" class="img-circle" alt="perrete" width="304" height="250">
                </div>
					
                <div class=" col-md-8">
                    <p class="quienes ">
						Los adoptantes podran escoger entre todas las mascotas disponibles y contactar a las protectoras de forma cómoda y rápida.
                        El adoptantes tras contactar a la protectora iniciara con ella el proceso de adopción.
                </div>
            </div>
        </div>



        <%- include('./Footer'); %>
</body>

</html>
