<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adoptame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/aboutus.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="./resources/img/logoazul.png" />
</head>

<body>
    <%- include('./Header'); %>
        <div id="content" class="cuadrarHeader">
            <h1 class="encabezado">¿Quienes somos?</h1>

            <div class="row cajatexto centrar">
                <div class="col-md-4">
                    <img src="./resources/img/ucm.jpg" class="img-thumbnail ucm" alt="ucm" width="304">
                </div>


                <div class=" col-md-8 ">
                    <p class="quienes ">
						 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula ante id congue consectetur. Suspendisse potenti. Pellentesque non risus viverra, aliquet neque sit amet, feugiat leo. Quisque non erat consectetur, gravida purus ac, condimentum massa. Duis blandit velit at molestie venenatis. Nulla quis mauris ex. Donec urna tellus, eleifend non iaculis eget, mollis sed lectus. Duis id nisi enim. Praesent malesuada sem ac tristique aliquet. Vivamus pretium elit nisl, dictum luctus nibh pellentesque sit amet. Mauris sed tempus neque, at laoreet odio. Sed maximus velit euismod odio elementum, vitae dapibus turpis imperdiet. Aliquam egestas eu nulla id imperdiet. Donec velit ligula, placerat nec eros sit amet, lacinia blandit enim. 
                    </p>
                </div>
            </div>


            <h1 class="encabezado">Protectoras</h1>

            <div class="row cajatexto centrar">



                <div class=" col-md-9">
                    <p class="quienes ">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula ante id congue consectetur. Suspendisse potenti. Pellentesque non risus viverra, aliquet neque sit amet, feugiat leo. Quisque non erat consectetur, gravida purus ac, condimentum massa. Duis blandit velit at molestie venenatis. Nulla quis mauris ex. Donec urna tellus, eleifend non iaculis eget, mollis sed lectus. Duis id nisi enim. Praesent malesuada sem ac tristique aliquet. Vivamus pretium elit nisl, dictum luctus nibh pellentesque sit amet. Mauris sed tempus neque, at laoreet odio. Sed maximus velit euismod odio elementum, vitae dapibus turpis imperdiet. Aliquam egestas eu nulla id imperdiet. Donec velit ligula, placerat nec eros sit amet, lacinia blandit enim. 
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="./resources/img/protectora.jpg" class="img-circle" alt="protectora" width="280">
                </div>
            </div>


            <h1 class="encabezado">Mascotas</h1>

            <div class="row cajatexto centrar abajo">
                <div class="col-md-4">
                    <img src="./resources/img/perro.jpg" class="img-circle" alt="perrete" width="304" height="250">
                </div>


                <div class=" col-md-8">
                    <p class="quienes ">
						 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula ante id congue consectetur. Suspendisse potenti. Pellentesque non risus viverra, aliquet neque sit amet, feugiat leo. Quisque non erat consectetur, gravida purus ac, condimentum massa. Duis blandit velit at molestie venenatis. Nulla quis mauris ex. Donec urna tellus, eleifend non iaculis eget, mollis sed lectus. Duis id nisi enim. Praesent malesuada sem ac tristique aliquet. Vivamus pretium elit nisl, dictum luctus nibh pellentesque sit amet. Mauris sed tempus neque, at laoreet odio. Sed maximus velit euismod odio elementum, vitae dapibus turpis imperdiet. Aliquam egestas eu nulla id imperdiet. Donec velit ligula, placerat nec eros sit amet, lacinia blandit enim. 
                </div>
            </div>
        </div>



        <%- include('./Footer'); %>
</body>

</html>
