<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales - Adoptame</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/animal.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
</head>



<body>
    <%- include('./Header'); %>

    <div id=content>
        <div class="container-fluid">
            <img src="/resources/img/animal-banner.png" alt="" style="width: 800px; float: right; margin-top: -20px; margin-right: -15px;">
            <div class="row">
                <div class="col">
                    <h1 style="margin-left: 200px; margin-top: -335px; font-weight: 600; font-size: 50px; max-width: 600px; background-color: #ffffff;">Encuentra un nuevo amigo</h1>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-left: 200px; margin-top: -160px">
                    <input style="background-color: #ffffff;" type="text" class="search" />
		            <div class="line-1"></div>
		            <div class="line-2"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="margin-top: 70px; display: flex; align-items: center; justify-content: center; max-width: 1400px;">
            <div class="row">
                <div class="col">
                    <img src="/resources/icons/all-icon.png" alt="" style="width: 50px;">
                    <img src="/resources/icons/dog-icon.png" alt="" style="width: 50px; margin-left: 30px; opacity: 0.4;">
                    <img src="/resources/icons/cat-icon.png" alt="" style="width: 50px; margin-left: 30px; opacity: 0.4;">
                    <img src="/resources/icons/bird-icon.png" alt="" style="width: 50px; margin-left: 30px; opacity: 0.4;">
                    <img src="/resources/icons/rabbit-icon.png" alt="" style="width: 50px; margin-left: 30px; opacity: 0.4;">
                    <img src="/resources/icons/snake-icon.png" alt="" style="width: 50px; margin-left: 30px; opacity: 0.4;">
                    <img src="/resources/icons/more-icon.png" alt="" style="width: 50px; margin-left: 30px; opacity: 0.4;">
                </div>
            </div>
        </div>
                
            
            <div class="container-fluid" style="margin-top: 100px; display: flex; align-items: center; justify-content: center; max-width: 1400px;">

                <!-- Animales (Cards) -->
                <div class="row">
                    <!-- Robert -->
                    <div class="col">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 30px;">
                            <div class="my-card">
                                <img src="/resources/img/img-dog-1.jpg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h5>Robert</h5></div>
                                        <div class="col"><h6>6 años</h6></div>
                                    </div>
                                    <p>Hola, me llamo Robert y fui olvidado en el Parque del Oeste. Allí nadie se preocupaba por mi y pasé muchos meses viviendo en la calle hasta que un chico se dio cuenta de mi existencia y me empezó a poner de comer todos los días.</p>
                                </div>
                                <div class="row">
                                    <div class="col my-card-information">
                                        <i class="fas fa-map-marker-alt"></i> &nbsp; Madrid
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 my-card-information">
                                        <i class="fas fa-mars" style="font-size: 20px;"></i> &nbsp; Hembra
                                    </div>
                                    <div class="col my-card-information">
                                        <i class="fas fa-weight-hanging"></i> &nbsp; 16 kg
                                    </div>
                                </div>
                                
                                <button type="button" class="my-card-button">Más Información</button>
                            </div>
                        </div>
                    </div>

                    <!-- Minina -->
                    <div class="col">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 30px;">
                            <div class="my-card">
                                <img src="/resources/img/img-cat-1.jpg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h5>Minina</h5></div>
                                        <div class="col"><h6>2,5 años</h6></div>
                                    </div>
                                    <p>Hola, me llamo Minina y fui olvidado en el Parque del Oeste. Allí nadie se preocupaba por mi y pasé muchos meses viviendo en la calle hasta que un chico se dio cuenta de mi existencia y me empezó a poner de comer todos los días.</p>
                                </div>
                                <div class="row">
                                    <div class="col my-card-information">
                                        <i class="fas fa-map-marker-alt"></i> &nbsp; Valladolid
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 my-card-information">
                                        <i class="fas fa-mars" style="font-size: 20px;"></i> &nbsp; Hembra
                                    </div>
                                    <div class="col my-card-information">
                                        <i class="fas fa-weight-hanging"></i> &nbsp; 6,5 kg
                                    </div>
                                </div>
                                
                                <button type="button" class="my-card-button">Más Información</button>
                            </div>
                        </div>
                    </div>

                    <!-- Bolita -->
                    <div class="col">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 30px;">
                            <div class="my-card">
                                <img src="/resources/img/img-dog-2.jpg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h5>Bolita</h5></div>
                                        <div class="col"><h6>4 años</h6></div>
                                    </div>
                                    <p>Hola, me llamo Bolita y fui olvidado en el Parque del Oeste. Allí nadie se preocupaba por mi y pasé muchos meses viviendo en la calle hasta que un chico se dio cuenta de mi existencia y me empezó a poner de comer todos los días.</p>
                                </div>
                                <div class="row">
                                    <div class="col my-card-information">
                                        <i class="fas fa-map-marker-alt"></i> &nbsp; Valencia
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 my-card-information">
                                        <i class="fas fa-mars" style="font-size: 20px;"></i> &nbsp; Hembra
                                    </div>
                                    <div class="col my-card-information">
                                        <i class="fas fa-weight-hanging"></i> &nbsp; 14,5 kg
                                    </div>
                                </div>
                                
                                <button type="button" class="my-card-button">Más Información</button>
                            </div>
                        </div>
                    </div>

                    <!-- Piolín -->
                    <div class="col">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 30px;">
                            <div class="my-card">
                                <img src="/resources/img/img-bird-1.jpg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h5>Piolín</h5></div>
                                        <div class="col"><h6>1,5 años</h6></div>
                                    </div>
                                    <p>Hola, me llamo Piolín y fui olvidado en el Parque del Oeste. Allí nadie se preocupaba por mi y pasé muchos meses viviendo en la calle hasta que un chico se dio cuenta de mi existencia y me empezó a poner de comer todos los días.</p>
                                </div>
                                <div class="row">
                                    <div class="col my-card-information">
                                        <i class="fas fa-map-marker-alt"></i> &nbsp; Burgos
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 my-card-information">
                                        <i class="fas fa-mars" style="font-size: 20px;"></i> &nbsp; Macho
                                    </div>
                                    <div class="col my-card-information">
                                        <i class="fas fa-weight-hanging"></i> &nbsp; 0,25 kg
                                    </div>
                                </div>
                                
                                <button type="button" class="my-card-button">Más Información</button>
                            </div>
                        </div>
                    </div>

                    <!-- Gatus -->
                    <div class="col">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 30px;">
                            <div class="my-card">
                                <img src="/resources/img/img-cat-2.png">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h5>Gatus</h5></div>
                                        <div class="col"><h6>8 años</h6></div>
                                    </div>
                                    <p>Hola, me llamo Gatus y fui olvidado en el Parque del Oeste. Allí nadie se preocupaba por mi y pasé muchos meses viviendo en la calle hasta que un chico se dio cuenta de mi existencia y me empezó a poner de comer todos los días.</p>
                                </div>
                                <div class="row">
                                    <div class="col my-card-information">
                                        <i class="fas fa-map-marker-alt"></i> &nbsp; Sevilla
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 my-card-information">
                                        <i class="fas fa-mars" style="font-size: 20px;"></i> &nbsp; Macho
                                    </div>
                                    <div class="col my-card-information">
                                        <i class="fas fa-weight-hanging"></i> &nbsp; 7 kg
                                    </div>
                                </div>
                                
                                <button type="button" class="my-card-button">Más Información</button>
                            </div>
                        </div>
                    </div>

                    <!-- Gatsby -->
                    <div class="col">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 30px;">
                            <div class="my-card">
                                <img src="/resources/img/img-dog-4.png">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h5>Gatsby</h5></div>
                                        <div class="col"><h6>3,5 años</h6></div>
                                    </div>
                                    <p>Hola, me llamo Gatsby y fui olvidado en el Parque del Oeste. Allí nadie se preocupaba por mi y pasé muchos meses viviendo en la calle hasta que un chico se dio cuenta de mi existencia y me empezó a poner de comer todos los días.</p>
                                </div>
                                <div class="row">
                                    <div class="col my-card-information">
                                        <i class="fas fa-map-marker-alt"></i> &nbsp; Oviedo
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 my-card-information">
                                        <i class="fas fa-mars" style="font-size: 20px;"></i> &nbsp; Macho
                                    </div>
                                    <div class="col my-card-information">
                                        <i class="fas fa-weight-hanging"></i> &nbsp; 9 kg
                                    </div>
                                </div>
                                
                                <button type="button" class="my-card-button">Más Información</button>
                            </div>
                        </div>
                    </div>

                    <!-- Rudolf -->
                    <div class="col">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 30px;">
                            <div class="my-card">
                                <img src="/resources/img/img-dog-3.jpg">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h5>Rudolf</h5></div>
                                        <div class="col"><h6>14 años</h6></div>
                                    </div>
                                    <p>Hola, me llamo Rudolf y fui olvidado en el Parque del Oeste. Allí nadie se preocupaba por mi y pasé muchos meses viviendo en la calle hasta que un chico se dio cuenta de mi existencia y me empezó a poner de comer todos los días.</p>
                                </div>
                                <div class="row">
                                    <div class="col my-card-information">
                                        <i class="fas fa-map-marker-alt"></i> &nbsp; Madrid
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 my-card-information">
                                        <i class="fas fa-mars" style="font-size: 20px;"></i> &nbsp; Macho
                                    </div>
                                    <div class="col my-card-information">
                                        <i class="fas fa-weight-hanging"></i> &nbsp; 15 kg
                                    </div>
                                </div>
                                
                                <button type="button" class="my-card-button">Más Información</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script>
        $(document).ready(function() {
		$('.search').click(function() {
				$('.search').addClass('active');
				$('.line-1').css({
						'transform': 'rotate(45deg)',
						'top': '0px',
						'left': '0px'
				});
				$('.line-2').css({
						'height':'40px',
						'opacity':'1'
				});
		});
		$('.line-1, .line-2').click(function() {
				$('.search').removeClass('active').val('');
				$('.line-1').css({
						'transform': 'rotate(-45deg)',
						'top': '-20px',
						'left': '45px'
				});
				$('.line-2').css({
						'height':'0px',
						'opacity':'0'
				});

		});
});
    </script>
    <%- include('./Footer'); %>
</body>

<!--
    ANTES:

    <h1>¡Esta seccion estara disponible en el proximo sprint!</h1>
                   
                    <img src="/resources/img/building.png" width="450px">
                    <h2>Ten paciencia, estamos programando con el maximo cuidado para que disfrutes de la mejor experiencia de usuario posible.</h2>

                    <div style="margin-top: 30px; margin-bottom: 100px;">
                        <!--<button id="redend_button" class="button" onclick=""> Inicio</button>-->
                    </div>

</html>