<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptame</title>
    <!-- Siempre que creeis una nueva plantilla ejs, importar las hojas de estilos CSS, en especial la de bootstrap-->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <!-- el header deberia ser un codigo comun en todas las views-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 menu-content">
                    <div class="logo">  
                    </div>
                    <ul class="menu">
                        <li> <a href="/Home.html">Inicio</a></li>
                        <li><a href="">Animales</a></li>
                        <li><a href="">Protectoras</a></li>
                        <li><a href="">Sobre Nosotros</a></li>
                        <li><a href="/Contact.html">Contacto</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                    <div class="icon-login">
                        <a href="/Login.html"><img src="/resources/icons/user-login.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="content main-section">
        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 prueba cuadro1">este es el cuadro 1</div>
                <div class="col-md-3 prueba cuadro2">este es el cuadro 2</div>
                <div class="col-md-3 prueba cuadro3">este es el cuadro 3</div>
                <div class="col-md-3 prueba cuadro4">este es el cuadro 4</div>
                <div class="col-md-3 prueba cuadro5">este es el cuadro 5</div>
                <div class="col-md-3 prueba cuadro6">este es el cuadro 6</div>
            </div>
        </div>
    </div>

    <!-- el footer tambien deberia ser otro codigo comun a todas las views, copiarlo y pegarlo-->
    <div class="footer-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 section-footer">
                    <div>
                        <div class="logo-footer-navigation">

                        </div>
                        <div><p>ADOPTAME</p></div>
                        <div class="RRSS"></div>
                    </div>
                </div>
                <div class="col-sm-4 section-footer">
                    <p>NAVIGATION</p>
                    <ul class="menu-footer-navigation">
                        <li> <a href="/Home.html">Inicio</a></li>
                        <li><a href="">Animales</a></li>
                        <li><a href="">Protectoras</a></li>
                        <li><a href="">Sobre Nosotros</a></li>
                        <li><a href="/Contact.html">Contacto</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 section-footer">
                    <p>LEGAL</p>
                    <ul class="menu-footer-navigation">
                        <li><a href="">Terminos y condiciones</a></li>
                        <li><a href="">Politica de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</body>

</html>