<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Adoptame</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/ayuda.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./Header'); %>

    <div id=content>
        <div class="container" style="max-width: 1630px;">
            <div class="row">
                <div class="col sign-up-page" style="margin-top: 110px;">
                    <!--130px-->
                    <h1>Ponte en contacto con nosotros</h1>
                    <img src="/resources/img/mail_icon.png">
                    <h2>Si tienes alguna duda, no dudes en contactarnos por cualquiera de nuestras redes sociales.
                    </h2>
                    <h2>O si lo prefieres, puedes mandarnos un mail a <b>adoptamemascotas13@gmail.com</b>.</h2>
                </div>
            </div>
        </div>

        <div class="container" style="max-width: 1030px; margin-bottom: 80px; margin-top: 50px;">
            <div class="row">
                <!--redes sociales-->
                <div class="col sign-up-page">
                    <a href="https://www.instagram.com/adoptame_mascotas/"><img src="/resources/img/insta_icon.png"></a>
                    <div class="col sign-up-page" style="margin-top: 0px;">
                        <h2><b>adoptame_mascotas</b></h2>
                    </div>
                </div>

                <div class="col sign-up-page">
                    <a href="https://www.facebook.com/adoptame.mascotas.52"><img src="/resources/img/fb_icon.png"></a>
                    <div class="col sign-up-page" style="margin-top: 28px;">
                        <h2><b>adoptame.mascotas.52</b></h2>
                    </div>
                </div>

                <div class="col sign-up-page">
                    <a href="https://twitter.com/adoptamemascot1"><img src="/resources/img/twitter_icon.png"></a>
                    <div class="col sign-up-page" style="margin-top: 28px;">
                        <h2><b>adoptamemascot1</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./Footer'); %>
</body>

</html>