<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptame</title>
    <!-- Siempre que creeis una nueva plantilla ejs, importar las hojas de estilos CSS, en especial la de bootstrap-->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>

<body>
     <!-- el header deberia ser un codigo comun en todas las views-->
    <%- include('./Header'); %>
    
    <!-- Mi codigo-->
   
    

     <!-- el footer tambien deberia ser otro codigo comun a todas las views, copiarlo y pegarlo-->
    <%- include('./Footer'); %>
</body>

</html>