<div class="footer-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 section-footer">
                <div>
                    <div class="logo-footer-navigation">
                    </div>
                    <img class="logo" src="/resources/img/logoazul.png">
                    <img class="logo1" src="/resources/img/logone.png">
                    <ul class="social container row">
                        <li class="col-md-1">
              <a href="https://www.instagram.com/adoptame_mascotas/"><img class="RRSS" src="/resources/img/instagram.png"></a>
                </li>
                <li class="col-md-1">
                    <a href="https://www.facebook.com/adoptame.mascotas.52"><img class="RRSS" src="/resources/img/facebook.png"></a>
            </li>
            <li class="col-md-1">
                    <a href="https://twitter.com/adoptamemascot1"><img class="RRSS" src="/resources/img/twitter.png"> </a>
                </li>
            </ul>
                </div>
            </div>
            <div class="col-sm-4 section-footer">
                <ul class="menu-footer-navigation">
                    <li><a href="/Home.html">Inicio</a></li>
                    <li><a href="">Animales</a></li>
                    <li><a href="">Protectoras</a></li>
                    <li><a href="/AboutUs.html">Sobre Nosotros</a></li>
                    <li><a href="/Contact.html">Contacto</a></li>
                    <li><a href="/Ayuda.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="col-sm-4 section-footer">
                <ul class="menu-footer-navigation textomenu">
                    <li><a href="">Terminos y condiciones</a></li>
                    <li><a href="">Politica de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>    