<div class="footer-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 section-footer">
                <div>
                    <div class="logo-footer-navigation">

                    </div>
                    <div><p>ADOPTAME</p></div>
                    <div class="RRSS"></div>
                </div>
            </div>
            <div class="col-sm-4 section-footer">
                <p>NAVIGATION</p>
                <ul class="menu-footer-navigation">
                    <li> <a href="/Home.html">Inicio</a></li>
                    <li><a href="">Animales</a></li>
                    <li><a href="">Protectoras</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                    <li><a href="/Contact.html">Contacto</a></li>
                    <li><a href="/Ayuda.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="col-sm-4 section-footer">
                <p>LEGAL</p>
                <ul class="menu-footer-navigation">
                    <li><a href="">Terminos y condiciones</a></li>
                    <li><a href="">Politica de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>    