<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion Animal - Adoptame</title>
        <!-- Falta estilo -->
    
    
    </head>
    <body>
        <%- include('./Header'); %>
        <div id="content">
            <!--TITULO NO SE VE POR HEADER, ARREGLAR EN CSS-->
            <h1>Gestion de Animal</h1>
            <form id="gestionanimal" method="POST">
                <h2>Editar mascota</h2>
                <div>
                    <!--CAMPOS Y TITULOS-->
                    <div>
                        <div>
                            <label id="name_tag">Nombre</label>
                            <input id="name" type="text">
                        </div>
                        <div>
                            <label id="genre_tag">Género</label>      
                        </div>
                        <div>
                            <label id="date_tag">Fecha de nacimiento</label>
                            <input id="date" type="text">
                            <p>Ejemplo:dd/mm/aaaa</p>
                        </div>
                        <div>
                            <label id="weight_tag">Peso (kg)</label>
                            <input id="weight" type="number">
                        </div>
                        <div>
                            <label id="type_tag">Tipo de animal</label>
                            <select id="type">
                                <option value="dog">Perro</option>
                                <option value="cat">Gato</option>
                                <option value="rabbit">Conejo</option>
                            </select>
                        </div>
                        <div>
                            <label id="city_tag">Ciudad</label>
                            <input id="city" type="text">
                        </div>
                        <div>
                            <label id="description_tag">Descripción</label>
                            <textarea id="description" rows="4" cols="50">
                                
                            </textarea>
                        </div>
                    </div>
                    <!--FOTO-->
                    <div></div>
                </div>
            </form>


        </div>

        


        <%- include('./Footer'); %>

    </body>

<!--
Para direccion en el index - Depurar

//BORRAR - SOLO PARA PRUEBAS
app.get("/GestionAnimal.html", function (request, response) {
  response.render("GestionAnimal", {errMsg: null});
});
-->

</html>
