<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion Animal - Adoptame</title>
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/PerfilMascota.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/all.min.css">

    
    
    </head>
    <body>
        <%- include('./Header'); %>
        <div id="content">
            
            <form id="gestionanimal" method="POST">
                <div class="container" id="campoimg">
                    <div class="row">
                        <div class="fotoanimal">
                           
                        </div>
                    </div>
                </div>
    
                <div class="container" id="camposform">
                    <div class="row campo">
                        <div class="col" >
                            <input id="name" type="text" class="floating-input" placeholder=" ">
                            <label id="name_tag">Nombre</label>         
                        </div>
                    </div>
                    <div class="row campo">
                        <div class="col" >
							<input id="date" type="date" class="floating-input">
                            <label id="date_tag">Fecha de nacimiento</label>
                            
                            <p>Ejemplo:dd/mm/aaaa</p>
                        </div>
                    </div>
                    <div class="row campo">
                        <div class="col" >
                            <input id="weight" type="number" class="floating-input" placeholder=" ">
                            <label id="weight_tag">Peso (kg)</label>
                        </div>
                    </div>

                    <div class="row campo">
                        <div class="col" >
                            <!--FIXEAR LABEL-->
                            <label id="type_tag">Tipo de animal</label>
                            <select id="type" class="floating-input">
                                <option value="dog">Perro</option>
                                <option value="cat">Gato</option>
                                <option value="rabbit">Conejo</option>
                            </select>
                        </div>
                    </div>

                    <div class="row campo">
                        <div class="col" >
                            <input id="city" type="text" class="floating-input" placeholder=" ">
                            <label id="city_tag">Ciudad</label>
                            
                        </div>
                    </div>
                    <div class="row campo">
                        <div class="col">
                            <textarea id="description" cols="15" class="floating-input" placeholder=" "></textarea>
							<label id="description_tag">Descripción</label>
                            
                        </div>
                    </div>





                    <div class="row">
                        <div class="col" style="margin-top: 25px;">
                            <button type="button" class="button" style="margin-top: 25px; background-color: #1a4b83;">Confirmar Cambios</button>
                           
                        </div>
                    </div>


                </div>
    
    
                
    
    
    
                
    
            </form>
        </div>

        


        <%- include('./Footer'); %>

    </body>

<!--
Para direccion en el index - Depurar

//BORRAR - SOLO PARA PRUEBAS
app.get("/GestionAnimal.html", function (request, response) {
  response.render("GestionAnimal", {errMsg: null});
});
-->

</html>
