<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 menu-content">
                <div class="logo">  
                </div>
                <ul class="menu">
                    <li> <a href="/Home.html">Inicio</a></li>
                    <li><a href="">Animales</a></li>
                    <li><a href="">Protectoras</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                    <li><a href="/Contact.html">Contacto</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
                <div class="icon-login">
                    <a href="/Login.html"><img src="/resources/icons/user-login.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>