<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptame</title>
    <!-- Siempre que creeis una nueva plantilla ejs, importar las hojas de estilos CSS, en especial la de bootstrap-->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/listaranimalesprotectora.css">
</head>

<body>
    <%- include('./Header'); %>
    <div class="content main-section">
        <!-- -->
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <div class="col-md-12">
                        <h2>Lista de los animales de la Protectora: XXXXXXX</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                
                    
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Pepe</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="1">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Pedro</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="2">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Alberto</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="3">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Pepe</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="1">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Pedro</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="2">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Alberto</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="3">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Pepe</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="1">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Pedro</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="2">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading contenedor">
                            <!-- Nombre -->
                            <span>Alberto</span>
                        </div>
                        <div class="panel-body">
                            <div class="contImg">
                                 <!-- Imagen -->
                                 <img src="/">
                            </div>
                            <!-- Boton -->
                            <div class="container">
                                <form action="/animal" method="GET">
                                    <input type="submit" class="btn btn-success ver" value="Ver perfil">
                                    <input type="hidden" name="idAnimal" value="3">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                

                        


                        
                        
                            

            </div>
        </div>
    <%- include('./Footer'); %>
</body>

</html>