<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptame</title>
    <!-- Siempre que creeis una nueva plantilla ejs, importar las hojas de estilos CSS, en especial la de bootstrap-->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <%- include('./Header'); %>

    <!-- cuerpo de la pagina -->
    <div class="content main-img">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <form id="login" class="form-login" action="" method="POST">
                        <h2>Login:</h2>
                        <input type="text" id="loginMail" name="loginMail" class="form-control input-sm chat-input" placeholder="Correo electrónico" required/>
                        </br>
                        <input type="password" id="loginPassword" name="loginPassword" class="form-control input-sm chat-input" placeholder="Contraseña" required/>
                        </br>
                        <div class="radio">
                            <label><input type="radio" name="tipo" value="Protectora">Protectora</label> 
                            <label><input type="radio" name="tipo" value="Adoptante">Adoptante</label>
                            <label><input type="radio" name="tipo" value="Administrador">Administrador</label>
                        </div>
                        <div classs="wrapper">
                            <span class="group-btn">
                                <!--LO SE, FALTA CSS Y ATRIBUTOS AL BOTON-->
                                <h2>Lo sé, falta css.</h2>
                                <button type="submit">Login</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<img src="/resources/img/dog2.png" class="img-fluid">-->
    </div>

    <%- include('./Footer'); %>
</body>

</html>