
/* fix de estilos molestos de bootstrap*/
body ul{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 0em;
}

/*main menu*/
header{
    position: fixed;
    top:0;
    height: 4em;
    z-index: 999;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(8px);
}

.menu-content{
    display: flex;
    justify-content: space-evenly;
    height: max-content;
}
.menu{
    overflow: hidden;
}

.menu a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 22px;

    color: #4d4d4d;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
    /*text-shadow: rgb(202, 228, 223) 2px 2px 4px;*/
}

.menu a:hover{
    color: #1e1e1e;
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.2s;
}

.menu .icon{
    display: none;
    margin-top: 4px;
}

.menu .login-option{
    display: none;
}

.text{
    height: 13em;
}

.logo_negro{
    margin-top: 12px;
    display: block;
    justify-content: right;
    height: 30px;
}

.icon-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4px;
}

.icon-login:hover{
    transform: rotate(10deg);
    transition: 0.2s;
}

/* Query que oculta las opciones del menú que sobresalen de la pantalla y muestra el icono de expandir */
@media screen and (max-width: 1000px) {
    .menu a:not(:first-child) {display: none;}
    .icon-login{display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }
}

/* La clase "responsive" se añade al menu al hacer click en el botón */
@media screen and (max-width: 1000px) {
    .menu.responsive {
        position: relative;
        background: rgba(255, 255, 255);
    }
    .menu.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
  

/* fin main menu */

/* inicio footer nevigation */
.footer-navigation{
    background: rgb(180, 189, 182, 0.2);
}

.footer-navigation ul{
    list-style: none;
}
.footer-navigation a{
    display: block;
    text-align: left;
    padding: 1px 1px;
    color: rgb(56, 56, 56);
    text-decoration: none;
    font:bold 22px cursive;
    text-shadow: rgb(202, 228, 223) 2px 2px 4px;
}

.footer-navigation a:hover{
    color: rgb(96, 96, 107);
    text-decoration: none;
    transform: scale(0.85);
    transition: 0.5s;
}

.footer-navigation p{
    border-bottom: 1px solid black;
}

.footer-navigation .section-footer{
    padding: 1.5em 5%;
   
}
.logo{
    height: 8em;
    padding-left: 90px;
    padding-top: 15px;
}
.logo1{
    
    height: 4.5em;
    padding-left: 40px;
    
}
.RRSS{
    
    height: 2.5em;
   
}

/*fin footer navigation */


/*home */
.main-img{   
   /* min-height: 1000px; 
    background-image: url("/resources/img/dog2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;*/
}

.main-section{
    margin-top: 4em;
    min-height: 40em;
}



/*fin home */

/* admin */

.admin-control th {
    text-align: center !important;
}

.admin-control, .modal-dialog{
    font-family: 'Bree Serif', serif;
    font-size: 15px;
}

.table-admin{
    overflow-x: auto;
}

.encabezado{
    padding: 0.5em;
}

.cuadrarHeader {
    margin-top: 4em;
}

.cursor{
    cursor: pointer;
}

body .logout{
    color: blue;
}