header{
    width:100%;
    height: 30%;
    margin-bottom:100px;
}

h2{ 
    font-family:'Bree Serif', serif;
    font-size: 15px;
}

.container{
    font-family:'Bree Serif', serif;
    font-size: 15px;
}

.boton{
    font-family:'Bree Serif', serif;
    font-size: 15px;
}